---
import { db } from '@db/index'
import { notificationsTable } from '@db/schema'
import { eq } from 'drizzle-orm'
import { Icon } from 'astro-icon/components'

const fcmToken = Astro.cookies.get('fcmToken')?.value

let subscription

if (fcmToken) {
    subscription = (await db.select().from(notificationsTable)
        .where(eq(notificationsTable.fcmToken, fcmToken))
        .limit(1))[0]
}
---

<div class="container">
    
    <div class="interval-editor">
        <label for="interval">I want to be notified every</label>
        <input type="number" id="interval" name="interval" min="1" max="30" value="7">
        <span>days</span>
    </div>

    { subscription ? (
        <p>
            <Icon name="noto:bell" size="32" />
            You're subscribed to notifications for {subscription.plantName}
        </p>
    ) : (
        <p>
            You are not subscribed to any notifications
        </p>
        <button
            id="trigger"
        >
            Get notified when it's time to water your plants
        </button>
    ) }
</div>

<style>

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: 'Inter', sans-serif;
    }

    input {
        background-color: rgb(150, 212, 150);
        border: 1px solid green;
        padding: 8px 4px 8px 12px;
        border-radius: 4px;
    }

</style>

<script>
    import { requestPermission } from '../service/frontend/firebase'

    async function doPermission() {
        const fcmToken = await requestPermission()

        document.cookie = `fcmToken=${fcmToken}`

        await fetch('/subscribe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                plantName: 'Fern'
            })
        })

        console.log('Successfully subscribed!', fcmToken)
    }
    
    document.getElementById('trigger')?.addEventListener('click', doPermission)
</script>