
<button
    id="trigger"
>
    Do the thing
</button>

<script>
    import { requestPermission } from '../service/firebase'

    async function doPermission() {
        const token = await requestPermission()

        await fetch('/subscribe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                token,
                plantName: 'Fern'
            })
        })

        console.log('Successfully subscribed!', token)
    }
    
    document.getElementById('trigger')?.addEventListener('click', doPermission)
</script>