---
import { db } from '@db/index'
import { notificationsTable } from '@db/schema'
import { eq } from 'drizzle-orm'
import { Icon } from 'astro-icon/components'

const fcmToken = Astro.cookies.get('fcmToken')?.value

let subscription

if (fcmToken) {
    subscription = (await db.select().from(notificationsTable)
        .where(eq(notificationsTable.fcmToken, fcmToken))
        .limit(1))[0]
}
---

<Icon name="noto:bell" size="24" />

<button
    id="trigger"
>
    Do the thing
</button>

{ subscription ? (
    <p>
        You are subscribed to notifications for {subscription.plantName}
    </p>
) : (
    <p>
        You are not subscribed to any notifications
    </p>
) }

<script>
    import { requestPermission } from '../service/firebase'

    async function doPermission() {
        const fcmToken = await requestPermission()

        document.cookie = `fcmToken=${fcmToken}`

        await fetch('/subscribe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                plantName: 'Fern'
            })
        })

        console.log('Successfully subscribed!', fcmToken)
    }
    
    document.getElementById('trigger')?.addEventListener('click', doPermission)
</script>