---
import Loading from './Loading.astro'
import Title from './Title.astro'
---
<Title />

<br>

<h3>Successfully subscribed</h3>

<br>

<button
    id="unsubscribe-button"
    class="plausible-event-name=Unsubscribe+Click"
>
    Unsubscribe
</button>

<style>

    h3 {
        text-align: center;
        color: #114C0B;
        font-size: 24px;
    }

</style>

<script>
document.getElementById('unsubscribe-button')?.addEventListener('click', async () => {
    await fetch('/unsubscribe', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })

    console.log('Successfully unsubscribed!')

    window.location.href = '/'
})
</script>