---
import Title from './Title.astro'
---
<Title />

<br>

<h3>Successfully subscribed</h3>

<br>

<p>You should have recieved a test notification</p>

<style>

    h3 {
        text-align: center;
        color: #114C0B;
        font-size: 24px;
    }

</style>

<script>
document.getElementById('notification-trigger')?.addEventListener('click', () => {
    const dialog = document.getElementById('notification-permission-dialog')
    dialog!.style.opacity = '1'
    dialog!.style.display = 'block'
})
</script>