---
import { Icon } from 'astro-icon/components'
---

<div class="title">
    <h1>Don't forget me!</h1>
    <span>Your <Icon name="noto:potted-plant" size="32px"/> watering companion</span>
</div>

<style>
.title {
    color: #114C0B;
    text-align: center;

    span {
        color: #569450;
        font-size: 24px;
    }
}
</style>