---
import "@fontsource/jua";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Don't Forget Me</title>
		<script defer data-domain="dfm.marshalldoes.dev" src="https://a.marshalldoes.dev/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #D3FFBF;
		background-image: url('../assets/background.png');
		background-size: 180px;
		font-family: 'Jua', sans-serif;
		overflow-x: hidden;
	}

	button, a.button {
		background-color: #17C23C;
		box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
		padding: 12px 24px;
		border-radius: 8px;
		border: none;
		color: white;
		font-family: 'Jua', sans-serif;
		font-size: 18px;
		cursor: pointer;
		text-decoration: none;
	}
</style>
